
.timer {
    position: fixed;
    border-radius: 20px;
    padding: 4px 10px 3px;
    top: 12px;
    left: 20px;
    box-shadow: 1px 2px 12px rgba(1, 1, 1, 0.08);
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #3af;
    color: #fff;
    width: 90px;
    font-size: 15px;
    z-index: 20;
}