html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.55;
    background-color: #fff;
    color: #222;
}

*::selection {
    background-color: rgba(1, 1, 1, 0.12);
}

*::-webkit-scrollbar {
    width: 6px;
    &-track-piece {
        background-color:#fff;
        border-radius: 3;
    }
    &-thumb {
        background-color: rgba(1, 1, 1, 0.08);
        border-radius: 7px;
    }
}

$width: 720px;

a {
    text-decoration: none;
}

@import './home.scss';
@import './containers/stocks-held.scss';
@import './containers/timer.scss';
@import './containers/funds-list.scss';
@import './containers/news-24time.scss';
@import './containers/exponent.scss';
@import './containers/my-chart.scss';
@import './containers/quantify.scss';



